# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (if any)
.env/
venv/
ENV/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# PyInstaller build folders (if used)
dist/
build/
*.spec

# Log files
*.log
